.blind-killer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  max-width: 100vw;

  .blind-killer-header {
    font-size: 1.2rem;
    color: darkorange;
    text-shadow: 8px 8px 16px rgb(0, 0, 0, 1);
    height: 5vh;
  }

  .vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    .count-table {
      margin-left: 20px;
      font-size: 1.3rem;
      color: darkorange;
      text-shadow: 8px 8px 16px rgb(0, 0, 0, 1);
      border-collapse: collapse;

      th,
      td {
        border: 1px solid white;
        padding: 0 1rem;
        text-align: center;
        vertical-align: middle;
      }

      .winner-row {
        background-color: green;
      }
    }

    .blind-killer-end {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-left: 20px;

      .winner {
        color: gold;
        margin-bottom: 20px;
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}

.small-font {
  font-size: large;
}
