.blind-killer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .blind-killer-header {
    margin-bottom: -20px;
  }

  .vertical {
    display: flex;
    align-items: center;

    .count-table {
      margin-left: 200px;
    }

    .winner {
      color: gold;
      margin-left: 200px;
    }
  }
}
