.board {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2rem solid black;
  width: 37rem;
  height: 37rem;
  z-index: 1000;
}

/* =========================
   Responsive Anpassungen
   =========================   */

@media (max-width: 1024px) {
  .board {
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {
  .board {
    margin-top: 0.75rem;
    width: 18rem;
    height: 18rem;
  }
}
