.bull-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 200px; */
  cursor: pointer;
}

.single-bull {
  border: 0.8rem solid green;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;

  &:hover {
    border: 1.2rem solid darkgreen;
  }
}

.bulls-eye {
  border-radius: 50%;
  background-color: red;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;

  &:hover {
    background-color: darkred;
    height: 1.6rem;
    width: 1.6rem;
  }
}

.bull-wrapper.dead,
.single-bull.dead,
.bulls-eye.dead {
  pointer-events: none;
}

/* =========================
   Responsive Anpassungen
   =========================   */

@media (max-width: 600px) {
  .single-bull {
    border: 0.6rem solid green;
    height: 0.8rem;
    width: 0.8rem;

    &:hover {
      border: 0.8rem solid darkgreen;
    }
  }

  .bulls-eye {
    height: 0.8rem;
    width: 0.8rem;

    &:hover {
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}
