.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 2rem;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
}

.button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  background: linear-gradient(0deg, rgb(14, 116, 43) 0%, rgb(57, 197, 69) 100%);
}

.button-cancel {
  background: linear-gradient(
    0deg,
    rgb(167, 20, 42) 0%,
    rgb(247, 102, 102) 100%
  );
  box-shadow: 0 0.7em 1.5em -0.5em #a7141498;
}

.button-cancel:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #a7141498;
  background: linear-gradient(0deg, rgb(116, 29, 14) 0%, rgb(197, 57, 57) 100%);
}

.button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.button-small {
  font-size: 1rem;
}

.disabled {
  background: grey;
  cursor: inherit;
  box-shadow: none;
}

.disabled:hover {
  box-shadow: none;
  background: grey;
}
