.multiple {
  height: 2rem;
  position: relative;
  cursor: pointer;
}

.double {
  bottom: 14.8rem;
  width: 6rem;
}

.triple {
  bottom: 9.5rem;
  width: 5rem;
}

.mblack {
  background-color: red;

  &:hover {
    background-color: darkred;
  }
}

.mwhite {
  background-color: green;

  &:hover {
    background-color: darkgreen;
  }
}

/* =========================
   Responsive Anpassungen
   ========================= */

@media (max-width: 600px) {
  .double {
    bottom: 7.5rem;
    width: 2.7rem;
  }

  .triple {
    bottom: 5rem;
    width: 1.8rem;
  }
}
