.multiple {
  height: 2rem;
  position: relative;
  cursor: pointer;

  &:hover {
    height: 4rem;
    margin-top: -0.6rem;
  }
}

.double {
  bottom: 14.8rem;
  width: 6rem;
}

.triple {
  bottom: 9.5rem;
  width: 5rem;
}

.mblack {
  background-color: red;
}

.mwhite {
  background-color: green;
}

/* =========================
   Responsive Anpassungen
   ========================= */

@media (max-width: 600px) {
  .multiple:hover {
    margin-top: -0.4rem;
  }

  .double {
    bottom: 7.5rem;
    width: 2.7rem;
  }

  .triple {
    bottom: 5rem;
    width: 1.8rem;
  }
}
