.multiple {
  height: 20px;
  position: relative;
}

.double {
  bottom: 190px;
  width: 60px;
}

.triple {
  bottom: 120px;
  width: 40px;
}

.mblack {
  background-color: red;

  &:hover {
    background-color: darkred;
  }
}

.mwhite {
  background-color: green;

  &:hover {
    background-color: darkgreen;
  }
}
